.article-content .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.article-content .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.article-content .anchor:focus {
  outline: none;
}

.article-content h1 .octicon-link,
.article-content h2 .octicon-link,
.article-content h3 .octicon-link,
.article-content h4 .octicon-link,
.article-content h5 .octicon-link,
.article-content h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.article-content h1:hover .anchor,
.article-content h2:hover .anchor,
.article-content h3:hover .anchor,
.article-content h4:hover .anchor,
.article-content h5:hover .anchor,
.article-content h6:hover .anchor {
  text-decoration: none;
}

.article-content h1:hover .anchor .octicon-link,
.article-content h2:hover .anchor .octicon-link,
.article-content h3:hover .anchor .octicon-link,
.article-content h4:hover .anchor .octicon-link,
.article-content h5:hover .anchor .octicon-link,
.article-content h6:hover .anchor .octicon-link {
  visibility: visible;
}

.article-content {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.article-content .pl-c {
  color: #6a737d;
}

.article-content .pl-c1,
.article-content .pl-s .pl-v {
  color: #005cc5;
}

.article-content .pl-e,
.article-content .pl-en {
  color: #6f42c1;
}

.article-content .pl-s .pl-s1,
.article-content .pl-smi {
  color: #24292e;
}

.article-content .pl-ent {
  color: #22863a;
}

.article-content .pl-k {
  color: #d73a49;
}

.article-content .pl-pds,
.article-content .pl-s,
.article-content .pl-s .pl-pse .pl-s1,
.article-content .pl-sr,
.article-content .pl-sr .pl-cce,
.article-content .pl-sr .pl-sra,
.article-content .pl-sr .pl-sre {
  color: #032f62;
}

.article-content .pl-smw,
.article-content .pl-v {
  color: #e36209;
}

.article-content .pl-bu {
  color: #b31d28;
}

.article-content .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

.article-content .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}

.article-content .pl-c2:before {
  content: "^M";
}

.article-content .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

.article-content .pl-ml {
  color: #735c0f;
}

.article-content .pl-mh,
.article-content .pl-mh .pl-en,
.article-content .pl-ms {
  color: #005cc5;
  font-weight: 700;
}

.article-content .pl-mi {
  color: #24292e;
  font-style: italic;
}

.article-content .pl-mb {
  color: #24292e;
  font-weight: 700;
}

.article-content .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

.article-content .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

.article-content .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}

.article-content .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}

.article-content .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}

.article-content .pl-ba {
  color: #586069;
}

.article-content .pl-sg {
  color: #959da5;
}

.article-content .pl-corl {
  color: #032f62;
  text-decoration: underline;
}

.article-content details {
  display: block;
}

.article-content summary {
  display: list-item;
}

.article-content a {
  background-color: transparent;
}

.article-content a:active,
.article-content a:hover {
  outline-width: 0;
}

.article-content strong {
  font-weight: inherit;
  font-weight: bolder;
}

.article-content h1 {
  font-size: 2em;
  margin: .67em 0;
}

.article-content img {
  border-style: none;
}

.article-content code,
.article-content kbd,
.article-content pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

.article-content hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.article-content input {
  font: inherit;
  margin: 0;
}

.article-content input {
  overflow: visible;
}

.article-content [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.article-content * {
  box-sizing: border-box;
}

.article-content input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.article-content a {
  color: #0366d6;
  text-decoration: none;
}

.article-content a:hover {
  text-decoration: underline;
}

.article-content strong {
  font-weight: 600;
}

.article-content hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

.article-content hr:before {
  content: "";
  display: table;
}

.article-content hr:after {
  clear: both;
  content: "";
  display: table;
}

.article-content table {
  border-collapse: collapse;
  border-spacing: 0;
}

.article-content td,
.article-content th {
  padding: 0;
}

.article-content details summary {
  cursor: pointer;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.article-content h1 {
  font-size: 32px;
}

.article-content h1,
.article-content h2 {
  font-weight: 600;
}

.article-content h2 {
  font-size: 24px;
}

.article-content h3 {
  font-size: 20px;
}

.article-content h3,
.article-content h4 {
  font-weight: 600;
}

.article-content h4 {
  font-size: 16px;
}

.article-content h5 {
  font-size: 14px;
}

.article-content h5,
.article-content h6 {
  font-weight: 600;
}

.article-content h6 {
  font-size: 12px;
}

.article-content p {
  margin: 25px 0 !important;
  line-height: 30px;
  text-align: justify;
  color: #1c1f21;
}

.article-content blockquote {
  margin: 0;
}

.article-content ol,
.article-content ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.article-content ol ol,
.article-content ul ol {
  list-style-type: lower-roman;
}

.article-content ol ol ol,
.article-content ol ul ol,
.article-content ul ol ol,
.article-content ul ul ol {
  list-style-type: lower-alpha;
}

.article-content dd {
  margin-left: 0;
}

.article-content code,
.article-content pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
}

.article-content pre {
  margin-bottom: 0;
  margin-top: 0;
}

.article-content input::-webkit-inner-spin-button,
.article-content input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.article-content .border {
  border: 1px solid #e1e4e8!important;
}

.article-content .border-0 {
  border: 0!important;
}

.article-content .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

.article-content .rounded-1 {
  border-radius: 3px!important;
}

.article-content .bg-white {
  background-color: #fff!important;
}

.article-content .bg-gray-light {
  background-color: #fafbfc!important;
}

.article-content .text-gray-light {
  color: #6a737d!important;
}

.article-content .mb-0 {
  margin-bottom: 0!important;
}

.article-content .my-2 {
  margin-bottom: 8px!important;
  margin-top: 8px!important;
}

.article-content .pl-0 {
  padding-left: 0!important;
}

.article-content .py-0 {
  padding-bottom: 0!important;
  padding-top: 0!important;
}

.article-content .pl-1 {
  padding-left: 4px!important;
}

.article-content .pl-2 {
  padding-left: 8px!important;
}

.article-content .py-2 {
  padding-bottom: 8px!important;
  padding-top: 8px!important;
}

.article-content .pl-3,
.article-content .px-3 {
  padding-left: 16px!important;
}

.article-content .px-3 {
  padding-right: 16px!important;
}

.article-content .pl-4 {
  padding-left: 24px!important;
}

.article-content .pl-5 {
  padding-left: 32px!important;
}

.article-content .pl-6 {
  padding-left: 40px!important;
}

.article-content .f6 {
  font-size: 12px!important;
}

.article-content .lh-condensed {
  line-height: 1.25!important;
}

.article-content .text-bold {
  font-weight: 600!important;
}

.article-content:before {
  content: "";
  display: table;
}

.article-content:after {
  clear: both;
  content: "";
  display: table;
}

.article-content>:first-child {
  margin-top: 0!important;
}

.article-content>:last-child {
  margin-bottom: 0!important;
}

.article-content a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.article-content blockquote,
.article-content dl,
.article-content ol,
.article-content p,
.article-content pre,
.article-content table,
.article-content ul {
  margin-bottom: 16px;
  margin-top: 0;
}

.article-content hr {
  background-color: #e1e4e8;
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

.article-content blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.article-content blockquote>:first-child {
  margin-top: 0;
}

.article-content blockquote>:last-child {
  margin-bottom: 0;
}

.article-content kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.article-content h1 {
  font-size: 2em;
}

.article-content h1,
.article-content h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

.article-content h2 {
  font-size: 1.5em;
}

.article-content h3 {
  font-size: 1.25em;
}

.article-content h4 {
  font-size: 1em;
}

.article-content h5 {
  font-size: .875em;
}

.article-content h6 {
  color: #6a737d;
  font-size: .85em;
}

.article-content ol,
.article-content ul {
  padding-left: 2em;
}

.article-content ol ol,
.article-content ol ul,
.article-content ul ol,
.article-content ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.article-content li {
  word-wrap: break-all;
}

.article-content li>p {
  margin-top: 16px;
}

.article-content li+li {
  margin-top: .25em;
}

.article-content dl {
  padding: 0;
}

.article-content dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

.article-content dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.article-content table {
  display: block;
  overflow: auto;
  width: 100%;
}

.article-content table th {
  font-weight: 600;
}

.article-content table td,
.article-content table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.article-content table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.article-content table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.article-content img {
  background-color: #fff;
  /* background-color: green; */
  box-sizing: content-box;
  max-width: 100%;
}

.article-content img[align=right] {
  padding-left: 20px;
}

.article-content img[align=left] {
  padding-right: 20px;
}

.article-content code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
}

.article-content pre {
  word-wrap: normal;
}

.article-content pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.article-content .highlight {
  margin-bottom: 16px;
}

.article-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.article-content .highlight pre,
.article-content pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.article-content pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.article-content .commit-tease-sha {
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 90%;
}

.article-content .blob-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}

.article-content .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.article-content .blob-num {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(27,31,35,.3);
  cursor: pointer;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  line-height: 20px;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}

.article-content .blob-num:hover {
  color: rgba(27,31,35,.6);
}

.article-content .blob-num:before {
  content: attr(data-line-number);
}

.article-content .blob-code {
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}

.article-content .blob-code-inner {
  color: #24292e;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
}

.article-content .pl-token.active,
.article-content .pl-token:hover {
  background: #ffea7f;
  cursor: pointer;
}

.article-content kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.article-content :checked+.radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}

.article-content .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

.article-content .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

.article-content .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

.article-content .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

.article-content .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

.article-content .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

.article-content .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

.article-content .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

.article-content .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

.article-content .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

.article-content .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

.article-content .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

.article-content .task-list-item {
  list-style-type: none;
}

.article-content .task-list-item+.task-list-item {
  margin-top: 3px;
}

.article-content .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.article-content hr {
  border-bottom-color: #eee;
}

.article-content .pl-0 {
  padding-left: 0!important;
}

.article-content .pl-1 {
  padding-left: 4px!important;
}

.article-content .pl-2 {
  padding-left: 8px!important;
}

.article-content .pl-3 {
  padding-left: 16px!important;
}

.article-content .pl-4 {
  padding-left: 24px!important;
}

.article-content .pl-5 {
  padding-left: 32px!important;
}

.article-content .pl-6 {
  padding-left: 40px!important;
}

.article-content .pl-7 {
  padding-left: 48px!important;
}

.article-content .pl-8 {
  padding-left: 64px!important;
}

.article-content .pl-9 {
  padding-left: 80px!important;
}

.article-content .pl-10 {
  padding-left: 96px!important;
}

.article-content .pl-11 {
  padding-left: 112px!important;
}

.article-content .pl-12 {
  padding-left: 128px!important;
}
